<h2 class="display-5 fw-bold">Elementos #2</h2>
<hr>
<hr>


<div class="row row-cols-7 bg-dark row-cols-md-3 g-5">
  <div class="col">
    
    <div class="card text-dark bg-light mb-3 border-light mb-3"style="width: 18rem;">
        <img src="/assets/css.JPG" class="card-img-top" alt="link">
          <div class="card-body">
          <h5 class="card-title">Css</h5>
          <br>
          <p class="card-text">CSS ​Cascading Style Sheets​, también conocidas como hojas de estilo: su papel es gestionar la apariencia de la página web diseño, posicionamiento, colores, tamaño de texto .... Este lenguaje ha complementado el código HTML desde 1996. También puedes haber oído hablar de XHTML.</p>
          </div>
        </div>
   </div>
   <div class="col">
    <div class="card text-light bg-secondary mb-3 border-light mb-3"style="width: 18rem;">
        <img src="/assets/Colores.JPG" class="card-img-top" alt="link">
          <div class="card-body">
          <h5 class="card-title">Colores</h5>
          <br>
          <p class="card-text">Los colores en HTML se especifican mediante el estándar RGB (Red Green and Blue). Este estándar indica que una combinación de los tres colores básicos: rojo, verde y azul puede dar lugar a cualquier otro color. Los valores que se les da al RGB son valores hexadecimales que van desde el 00 hasta el FF.</p>
          </div>
        </div>
   </div>
   <div class="col">
    <div class="card text-light bg-info mb-3 border-light mb-3"style="width: 18rem;">
        <img src="/assets/Estilos.jpg" class="card-img-top" alt="link">
          <div class="card-body">
          <h5 class="card-title">Estilos</h5>
          <br>
          <p class="card-text">El atributo de estilo HTML se usa para agregar estilos a un elemento, como color, fuente, tamaño ect.
  
            El atributo de estilo HTML
            La configuración del estilo de un elemento HTML se puede hacer con el atributo de estilo.
            El atributo de estilo HTML tiene la siguiente sintaxis:
            nombre de etiqueta estilo="propiedad:valor;"</p>
          </div>
        </div>
   </div>
   <div class="col">
    <div class="card text-light bg-info mb-3 border-light mb-3"style="width: 18rem;">
        <img src="/assets/Color fondo.JPG" class="card-img-top" alt="link">
          <div class="card-body">
          <h5 class="card-title">Color de Fondo</h5>
          <br>
          <p class="card-text">La propiedad background-color de CSS define el color de fondo de un elemento HTML.
            Example
            Set the background color for a page to powderblue:
            body style="background-color:powderblue;"</p>
           
          </div>
        </div>
   </div>
   <div class="col">
    <div class="card text-dark bg-light mb-3 border-light mb-3"style="width: 18rem;">
        <img src="/assets/Color textp.JPG" class="card-img-top" alt="link">
          <div class="card-body">
          <h5 class="card-title">Color de Texto</h5>
          <br>
          <p class="card-text">
            Color de texto
            La propiedad de color CSS define el color del texto para un elemento HTML:
            
            Ejemplo
            h1 style="color:blue;"Este es un encabezado/h1
            p style="color:red;"Esto es un párrafo./p
          </p>
          </div>
        </div>
   </div>
   <div class="col">
    <div class="card text-light bg-secondary mb-3 border-light mb-3"style="width: 18rem;">
        <img src="/assets/formatos.JPG" class="card-img-top" alt="link">
          <div class="card-body">
          <h5 class="card-title">Formatos</h5>
          <br>
          <p class="card-text">El Lenguaje de Marcado de Hipertexto (HTML) es el código que se utiliza para estructurar y desplegar una página web y sus contenidos. Por ejemplo, sus contenidos podrían ser párrafos, una lista con viñetas, o imágenes y tablas de datos.</p>
          </div>
        </div>
   </div>
   <div class="col">
    <div class="card text-light bg-secondary mb-3 border-light mb-3"style="width: 18rem;">
        <img src="/assets/Simbolos.JPG" class="card-img-top" alt="link">
          <div class="card-body">
          <h5 class="card-title">Simbolos</h5>
          <br>
          <p class="card-text">Las entidades HTML se describieron en el capítulo anterior.

            Muchos símbolos matemáticos, técnicos y monetarios, no están presentes en un teclado normal.
            
            Para añadir tales símbolos a una página HTML, puede utilizar el nombre de la entidad o el número de la entidad (una referencia decimal o hexadecimal) para el símbolo.</p>
          </div>
        </div>
   </div>
   <div class="col">
    <div class="card text-light bg-info mb-3 border-light mb-3"style="width: 18rem;">
        <img src="/assets/Video.JPG" class="card-img-top" alt="link">
          <div class="card-body">
          <h5 class="card-title">Video</h5>
          <br>
          <p class="card-text">Se llama comentario en el ámbito de HTML las notas que el autor o autores ponen en el código para facilitar su entendimiento. Estos comentarios no son mostrados por el navegador y por tanto sólo serán visibles al leer el código HTML de la página web.</p>
          </div>
        </div>
  </div>