
<div class="container-fluid"> </div>
<img src="/assets/humo-tua.jpg"[width]="1100" height="400" alt="">
<h1>Equipo #1</h1>
<hr>
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  
    <div class="card-body">
      <h5 class="card-title">Silvia Adilene Ramirez Ramirez</h5>
     
    </div>
  </div>
  <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
  
    <div class="card-body">
      <h5 class="card-title">Aldo Alonso Valle Diaz</h5>
     
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  
    <div class="card-body">
      <h5 class="card-title">Cesar Uriel Huerta Villalovos</h5>
     
    </div>
  </div>
  <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  
    <div class="card-body">
      <h5 class="card-title">Jose Roberto de Lira Cortez </h5>
     
    </div>
  </div>
