<h2 class="display-5 fw-bold">Elementos</h2>
<hr>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
<div class="card text-white bg-dark mb-3 border-dark mb-3"style="width: 18rem;">
    <img src="/src/assets/Elementos.png" class="card-img-top" alt="Elemento">
    <div class="card-body">
      <h5 class="card-title">Elemento HTML</h5>
      <br>
      <p class="card-text">Un elemento de HTML es un tipo de componente de documento de HTML, uno de los diversos tipos de nodos de HTML. El documento de HTML está compuesto de un árbol de nodos HTML sencillo, como nodos de texto, y elementos de HTML, los cuales añaden semántica y formato a partes del documento.</p>
    
    </div>
    </div>
</div>


  <div class="col">
<div class="card text-white bg-dark mb-3 border-dark mb-3"style="width: 18rem;">
    <img src="/src/assets/Atributos.png" class="card-img-top" alt="Atributos">
      <div class="card-body">
      <h5 class="card-title">Atributos</h5>
      <br>
      <p class="card-text">Los atributos de HTML son palabras especiales utilizadas dentro de la etiqueta de apertura, para controlar el comportamiento del elemento. Los atributos de HTML son un modificador de un tipo de elemento de HTML.</p>
      
      </div>
    </div>
</div>

<div class="col">
  <div class="card text-white bg-dark mb-3 border-dark mb-3"style="width: 18rem;">
      <img src="/src/assets/Encabezados.jpeg" class="card-img-top" alt="Encabezados">
        <div class="card-body">
        <h5 class="card-title">Encabezados</h5>
        <br>
        <p class="card-text">Un encabezado HTML, o header en inglés, es una etiqueta de título que utilizamos dentro de una página web para resaltar la temática y sub-temáticas del contenido. En SEO, estos encabezados, son importantes tanto para los usuarios como para Google, ya que les ayuda a entender mejor la estructura temática de una URL.</p>
        </div>
      </div>
 </div>

 <div class="col">
  <div class="card text-white bg-dark mb-3 border-dark mb-3"style="width: 18rem;">
      <img src="/src/assets/imagenes.jpg" class="card-img-top" alt="Imagenes">
        <div class="card-body">
        <h5 class="card-title">Imagenes</h5>
        <br>
        <p class="card-text">Para poner una imagen simple en una página web, utilizamos el elemento "img". Se trata de un elemento vacío (lo que significa que no contiene texto o etiqueta de cierre) que requiere de por lo menos de un atributo para ser utilizado: src (a veces denominado por su nombre completo, source). El atributo src contiene una ruta que apunta a la imagen que quieres poner en la página, que puede ser una URL relativa o absoluta, de la misma forma que el elemento "a" contiene los valores del atributo</p>
        </div>
      </div>
 </div>

 <div class="col">
  <div class="card text-white bg-dark mb-3 border-dark mb-3"style="width: 18rem;">
      <img src="/src/assets/links.jpg" class="card-img-top" alt="link">
        <div class="card-body">
        <h5 class="card-title">Links</h5>
        <br>
        <p class="card-text">El elemento HTML <link> especifica la relación entre el documento actual y un recurso externo. Los usos posibles de este elemento incluyen la definición de un marco relacional para navegación. Este elemento es más frecuentemente usado para enlazar hojas de estilos.</p>
        </div>
      </div>
 </div>

 <div class="col">
  <div class="card text-white bg-dark mb-3 border-dark mb-3"style="width: 18rem;">
      <img src="/src/assets/LISTAS.jpg" class="card-img-top" alt="Listas">
        <div class="card-body">
        <h5 class="card-title">Listas</h5>
        <br>
        <p class="card-text">Las listas en HTML nos permite crear conjuntos de elementos en forma de lista dentro de una página, todos los cuales irán precedidos, generalmente, por un guión o número. <br>

          Los tipos de listas en HTML son los siguientes:
          <br>
          
          Listas ordenadas
          Listas desordenadas
          Listas de definiciones</p>
        </div>
      </div>
 </div>

 

</div>
  

