

<div class="row align-items-md-stretch">
    <div class="col-md-12">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Todo lo que debes saber de html</h2>
        <br>
        <br>
        <p>El Lenguaje de Marcado de Hipertexto (HTML) es el código que se utiliza para estructurar y desplegar una página web y sus contenidos. Por ejemplo, sus contenidos podrían ser párrafos, una lista con viñetas, o imágenes y tablas de datos.</p>
       
      </div>
    </div>
<hr>
<hr>

    <div class="row align-items-md-stretch">
      <div class="col-md-13">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Todo lo que debes saber de Angular</h2>
          <br>
          <br>
          <p>Esta es la página de inicio del framework Javascript Angular, una de las herramientas más poderosas para desarrollar aplicaciones frontend modernas.</p>
            <p>Angular es un framework Javascript potente, muy adecuado para el desarrollo de aplicaciones frontend modernas, de complejidad media o elevada. El tipo de aplicación Javascript que se desarrolla con Angular es del estilo SPA (Single Page Application) o también las denominadas PWA (Progressive Web App). </p>
            
            
            <p> El framework Angular ofrece una base para el desarrollo de aplicaciones robustas, escalables y optimizadas, que promueve además las mejores prácticas y un estilo de codificación homogéneo y de gran modularidad.
            
              <p>Aunque ofrece principalmente una base para el desarrollo de la parte frontal, la programación Javascript del lado del cliente, también aborda técnicas de desarrollo de la parte del backend, para la implementación del Server Side Rendering. A esta parte se le llama Angular Universal.
            
                <p> El desarrollo en Angular se hace por medio de TypeScript (aunque también se podría desarrollar con Javascript, todas las guías y recomendaciones se basan en usar TypeScript), un superset del lenguaje Javascript que ofrece muchas herramientas adicionales al lenguaje, como el tipado estático o los decoradores.</p>

         
        </div>
      </div>
      <br>
      <br>
      <br>
