<div class ="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">HOLA MUNDO</h1>
        <h1 class="display-4">TAREA PRUEBA</h1>
        <h1 class="display-4">*************Integrantes Del Equipo************</h1>
        <h1 class="display-4">Silvia Adilene Ramirez Ramirez</h1>
        <h1 class="display-4">Jose Roberto De Lira Cortez</h1>
        <h1 class="display-4">Cesar Uriel Huerta Villalovos</h1>
        <h1 class="display-4">Aldo Alonso Valle Diaz</h1>
    </div>
</div>
<router-outlet></router-outlet>
